/******************************************************************************
Custom CSS styling for the Test Quarto Book
******************************************************************************/

/*-- scss:defaults --*/

// Fonts
// Importing a font from Google Fonts (https://ucsb-meds.github.io/customizing-quarto-websites/#/select-fonts)
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); // For testing
$codeFont:  "Courier New", Courier, monospace;

// Colors
// $purple: #AE8BD1; // For testing
$codeBackground: #0365C0;
$noteBackground: #f0f7fb;
$noteBorder: #3498db;
$warningBackground: #FEFBEA;
$warningBorder: #F2E394;

// Adjustments to default Quarto styles
// $body-bg: $purple; // page background -- for testing


/*-- My Font Styles --*/
.large-bold {
  font-size: 2em;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.red-text {
  color: red;
}

.code {
  color: $codeBackground;
  font-family: $codeFont;
}



/*-- Glossary Styles --*/
dt {
  font-size: 14pt;
  font-weight: bold;
}


/*-- iframe Styles --*/

// I want the embedded iframes to be responsive.
// I'm following the example here: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

// Then style the iframe to fit in the container div with full height and width
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
